   <h1>Add and Delete Memberships</h1>
   <div id="add_membership">
         <form id="new_memberships_form" class="add_delete_form" action="/memberships" method="post">
            <fieldset>
               <legend>
                  Add a New Empty Membership
               </legend>
               <label>
               <input type="submit" value="Add New Membership"></label>
            </fieldset>
      </form>
   </div>
   <div id="display_memberships" class="display_data">
      <table class="table table-bordered table-striped">
         <thead class="thead-dark">
            <tr>
               <th>
                  Membership ID#
               </th>
               <th>
                  # People
               </th>
               <th>
                  Bill
              </th>
              <th>
                  Modify
              </th>
            </tr>
         </thead>
         <tbody>
             {{#each memberships}}
            <tr>
               <td>
                  {{membership_id}}
               </td>
               <td>
                  {{num_people}}
               </td>
               <td>
                  {{bill}}
              </td>
              <td>
                  <button>Update</button>
                  <button onclick="deleteMembership({{membership_id}})">Delete</button>
              </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
