<body>
   <h1>Add and Delete Memberships</h1>
   <a href="./index.html" class="home_page_link">Home</a>
   <div id="delete_memberships">
      <form id="delete_membership_form" class="add_delete_form" action="" method="get">
         <fieldset>
            <legend>
               Delete a membership:
            </legend>
            <label>Membership ID#
            <input type="number" name="membership_id" size="30" maxlength="11"></label>
            <input type="submit" value="Submit">
         </fieldset>
      </form>
         <form id="new_memberships_form" class="add_delete_form" action="/memberships" method="post">
            <fieldset>
               <legend>
                  Add a New Empty Membership
               </legend>
               <label>
               <input type="submit" value="Add New Membership"></label>
            </fieldset>
      </form>
   </div>
   <div id="display_memberships" class="display_data">
      <a href="./add_delete_memberships.html">Update</a>
      <table>
         <thead>
            <tr>
               <th>
                  Membership ID#
               </th>
               <th>
                  # People
               </th>
               <th>
                  Bill
               </th>
            </tr>
         </thead>
         <tbody>
             {{#each memberships}}
            <tr>
               <td>
                  {{membership_id}}
               </td>
               <td>
                  {{num_people}}
               </td>
               <td>
                  {{bill}}
               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</body>
