<body>
   <h1>Add and Delete Location</h1>
   <div id="update_location">
      <form id="update_location_form" class="add_delete_form">
         <fieldset>
            <legend>
              Update Location:
            </legend>
            <label>Name:
            <input type="text" name="location_name" size="30" maxlength="255" value="{{location.name}}" required></label>
            <br>
            <lable>Capacity:
            <input type="number" name="location_capacity" size="30" max="255" value="{{location.capacity}}" required></lable>
            <br>
            <label>
            <input type="button" value="Update Location" onclick="updateLocation({{location.location_id}})"></label>
         </form>
         </fieldset>
   </div>

</body>
